{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h3>My Projects (Created)</h3>
        <ul>
            {% for p in created_projects %}
                <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>

        <h3>My Favorites</h3>
        <ul>
            {% for p in favorited_projects %}
                <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>All Other Projects</h3>
    <ul>
        {% for p in all_projects %}
            <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a> - {{ p.category.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}