{% extends 'base.html' %}
{% block content %}
    <h1>{{ project.title }}</h1>
    <p><strong>Category:</strong> {{ project.category.name }}</p>
    <p><strong>Creator:</strong> {{ project.creator.user.username }}</p>
    
    <p><strong>Avg Rating:</strong> {{ avg_rating|default:"No ratings yet" }} / 10</p>
    <p><strong>Total Favorites:</strong> {{ fav_count }}</p>

    <h3>Materials</h3>
    <p>{{ project.materials|linebreaks }}</p>

    <h3>Steps</h3>
    <p>{{ project.steps|linebreaks }}</p>

    {% if user.profile == project.creator %}
        <a href="{% url 'project_edit' project.pk %}">Edit this Project</a>
    {% endif %}
{% endblock %}
