{% extends "base.html" %} {% block title %}{{ product.name }}{% endblock %} {% block body %}
<h2>{{ product.name }}</h2>

{% if request.user.is_authenticated and not is_seller %}
<p>
    <a href="{% url 'merchstore:cart' %}" style="font-weight: bold">View Your Cart</a>
</p>
{% endif %} {% if product.product_image %}
<div class="product-image-container" style="margin-bottom: 20px">
    <img src="{{ product.product_image.url }}" alt="{{ product.name }}" style="max-width: 300px" />
</div>
{% endif %}

<p>
    <strong>Category:</strong>
    {{ product.product_type.name }}
</p>
<p>
    <strong>Seller:</strong>
    {{ product.owner.display_name }}
</p>
<p>
    <strong>Description:</strong>
    {{ product.description }}
</p>
<p>
    <strong>Price:</strong>
    ₱{{ product.price }}
</p>
<p>
    <strong>Stock Available:</strong>
    {{ product.stock }}
</p>
<p>
    <strong>Status:</strong>
    <a>{{ product.status }}</a>
</p>

<hr />

{% if request.user.is_authenticated and request.user.profile == product.owner %}
<p>
    This is your product listing.
    <a href="{% url 'merchstore:item_edit' product.pk %}">Edit this item</a>
</p>
{% else %}
<h3>Add to Cart</h3>
<form method="post">
    {% csrf_token %} {{ form.as_p }} {% if product.stock == 0 %}
    <button type="submit" disabled>Out of Stock</button>
    {% else %}
    <button type="submit">Add</button>
    {% endif %}
</form>
{% endif %}

<p>
    <a href="{% url 'merchstore:item_list' %}">Back to Store</a>
</p>
{% endblock %}
