<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Common Grounds{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>Common Grounds</h1>
        </header>
        {% if request.user.is_authenticated%}
            Hello, {{ request.user }}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
            <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <h2>{% block heading_text %}{% endblock %}</h2>

        <main>{% block body %}{% endblock %}</main>
    </body>
</html>
