{% extends 'base.html' %} {% block heading_text %} {{ event.title }} {% endblock %} {% block body %}
<p>
    <strong>Category:</strong>
    {{ event.category.name|default:"No Category" }}
</p>
<p>
    <strong>Description:</strong>
    {{ event.description }}
</p>
<p>
    <strong>Location:</strong>
    {{ event.location }}
</p>
<p>
    <strong>Start:</strong>
    {{ event.start_time|date:"Y-m-d" }}
</p>
<p>
    <strong>End:</strong>
    {{ event.end_time|date:"Y-m-d" }}
</p>
<p>
    <strong>Created On:</strong>
    {{ event.created_on|date:"Y-m-d" }}
</p>
<p>
    <strong>Last Updated:</strong>
    {{ event.updated_on|date:"Y-m-d" }}
</p>

<hr>
{% if is_owner %}
    <a href="{% url 'localevents:event_update' event.pk %}">Edit Event</a>
{% endif %}
<hr>
{% if user.is_authenticated %}
    {% if is_owner %}
        <p>You cannot sign up for your own event.</p>
    {% elif is_full %}
        <button disabled>Event Full</button>
    {% elif user_signed_up %}
        <p>You are already signed up.</p>
    {% else %} 
        <form method="post">
            {% csrf_token %}
            <button type="submit">Sign Up</button>
        </form>
    {% endif %}

{% else %}
    {% if is_full %}
        <button disabled>Event Full</button>
    {% else %}
        <a href="{% url 'localevents:event_signup' event.pk %}">Sign Up</a>
    {% endif %}
{% endif %} 
<hr>
<p><a href="{% url 'localevents:event_list' %}">Back to Events</a></p>
{% endblock %}
