{% extends 'index.html' %} {% block body %}
<h2>Commissions detail</h2>
<h3>{{title}}</h3>
<p>Maker: {{maker.display_name}}</p>
<p>Type: {{type}}</p>
<p>Status: {{status}}</p>
<p>People required: {{people_required}}</p>
<p>Description: {{description}}</p>
<table border="1">
    <thead>
        <tr>
            <th>Role</th>
            <th>Manpower Required</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.role }}</td>
            <td>{{ job.manpower_required }}</td>
            <td>
                {% if job.accepted_count >= job.manpower_required %}
                    <button disabled>Full</button>
                {% else %}
                    <form method="post" action="{% url 'commissions:apply_to_job' job.pk %}">
                        {% csrf_token %}
                        <button type="submit">Apply to Job</button>
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p> Total manpower: {{total_manpower}}</p>
<p> Open manpower: {{open_manpower}}</p>
{% if request.user.profile != maker %}
    <a disabled>Create Commission</a>
{% else %}
    <a href="{% url 'commissions:commission_update' pk %}">Update Commission</a>
{% endif %}
<br>
<a href="{% url 'commissions:commission_list' %}">Return to list of Commissions</a>
{% endblock %}
