{% extends 'index.html' %} 
{% block script %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const addBtn = document.getElementById("add-job");
    const container = document.getElementById("job-forms");
    const totalForms = document.querySelector("input[name$='TOTAL_FORMS']");
    const emptyFormTemplate = document.getElementById("empty-form").innerHTML;
    console.log(document.querySelectorAll("input"));
    addBtn.addEventListener("click", function () {
        let index = parseInt(totalForms.value);

        let newFormHtml = emptyFormTemplate.replace(/__prefix__/g, index);

        let div = document.createElement("div");
        div.classList.add("job-form");
        div.innerHTML = newFormHtml;

        container.appendChild(div);

        totalForms.value = index + 1;
    });

});
</script>

{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <h3>Jobs</h3>
    {{ job_formset.management_form }}
    <div id="job-forms">
        {% for form in job_formset %}
            <div class="job-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>

    <div id="empty-form" style="display: none;">
        {{ job_formset.empty_form.as_p }}
    </div>

    <button type="button" id="add-job">+ Add Job</button>

    <button type="submit">Create</button>
</form>
{% endblock %}