{% extends 'index.html' %} 
{% block script %}
<script>
document.getElementById("add-job").addEventListener("click", function () {
    const container = document.getElementById("job-forms");
    const totalForms = document.getElementById("id_job_set-TOTAL_FORMS");

    let index = parseInt(totalForms.value);

    let newForm = container.children[0].cloneNode(true);

    newForm.innerHTML = newForm.innerHTML.replace(/-\d+-/g, `-${index}-`);

    container.appendChild(newForm);

    totalForms.value = index + 1;
});
</script>

{% endblock %}
{% block body %}
<h2>Commissions list</h2>
{% if request.user.is_authenticated %}
<h4>Created Commissions</h4>
<ul>
    {% for commission in created_commissions %}
        <li><a href="{% url 'commissions:commission_detail' commission.pk %}">{{commission.title}}</a></li>
    {% empty %}
        <li>No created commissions</li>
    {% endfor %}
</ul>
<hr>
<h4>Applied Commissions</h4>
<ul>
    {% for commission in applied_commissions %}
        <li><a href="{% url 'commissions:commission_detail' commission.pk %}">{{commission.title}}</a></li>
    {% empty %}
        <li>No applied commissions</li>
    {% endfor %}
</ul>
<hr>
{% endif %}
<h4>Other Commissions </h4>
<ul>
    {% for commission in other_commissions %}
        <li><a href="{% url 'commissions:commission_detail' commission.pk %}">{{commission.title}}</a></li>
    {% empty %}
        <li>No other commissions</li>
    {% endfor %}
</ul>
<a href="{% url 'commissions:commission_create' %}">Create a commission</a>
{% endblock %}
